{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "_innerHeight": false,
    "_innerWidth": false,
    "CropElement": false,
    "CropImage": false,
    "Cropper": false,
    "Handle": false,
    "TinyCrop": false,
    "attach": false,
    "croparea": false,
    "d": false,
    "data": false,
    "east": false,
    "forEach": false,
    "getImage": false,
    "handle": false,
    "inherits": false,
    "max": false,
    "min": false,
    "mousedown": false,
    "mousemove": false,
    "mouseup": false,
    "north": false,
    "parameterError": false,
    "south": false,
    "validateNumber": false,
    "w": false,
    "west": false
  },
  "rules": {
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "camelcase": [2, {"properties": "never"}],
    "comma-dangle": [2],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "curly": [2],
    "eol-last": [2],
    "eqeqeq": [2, "smart"],
    "indent": [2, 2],
    "key-spacing": [2],
    "keyword-spacing": [2],
    "linebreak-style": [2, "windows"],
    "no-extra-parens": [2],
    "no-multiple-empty-lines": [2],
    "no-param-reassign": [2],
    "no-return-assign": [2],
    "no-sequences": [2],
    "no-shadow": [2],
    "no-spaced-func": [2],
    "no-trailing-spaces": [2],
    "no-undef-init": [2],
    "no-undefined": [2],
    "no-unneeded-ternary": [2],
    "no-use-before-define": [2],
    "no-useless-concat": [2],
    "no-var": [2],
    "no-whitespace-before-property": [2],
    "object-shorthand": [2],
    "object-curly-spacing": [2, "never"],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "after"],
    "one-var": [2, "never"],
    "prefer-arrow-callback": [2],
    "prefer-const": [2],
    "prefer-template": [2],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "radix": [2],
    "require-jsdoc": [2],
    "semi": [2, "never"],
    "semi-spacing": [2],
    "space-before-blocks": [2],
    "space-before-function-paren": [2],
    "space-in-parens": [2, "never"],
    "space-infix-ops": [2],
    "space-unary-ops": [2],
    "strict": [2, "global"],
    "yoda": [2, "never"]
  },
  "extends": "eslint:recommended"
}
